
      <h2 data-cy="recipeDetailsHeading"><span jhiTranslate="recipebookApp.recipe.detail.title">Recipe</span></h2>

      <div *ngIf="recipe">
  
        <dl>
          <dt><span jhiTranslate="recipebookApp.recipe.title">Title</span></dt>
          <dd>
            <span>{{ recipe.title }}</span>
          </dd>
          <dt><span jhiTranslate="recipebookApp.recipe.description">Description</span></dt>
          <dd>
            <span>{{ recipe.description }}</span>
          </dd>
          <dt><span jhiTranslate="recipebookApp.recipe.imagePath">Image Path</span></dt>
          <dd>
            <img 
            src="{{recipe.imagePath}}" 
            alt="{{recipe.title}}" 
            class="img-responsive" 
            style="max-height: 50px;"/>
          </dd>
          <dt><span jhiTranslate="recipebookApp.recipe.user">User</span></dt>
          <dd>
            <span>{{ recipe.user?.login }}</span>
          </dd>
          <dt><span jhiTranslate="recipebookApp.recipe.ingredient">Ingredient</span></dt>
          <dd>
            <span *ngFor="let ingredient of recipe.ingredients; let last = last">
              <span>{{ ingredient.name }}</span>{{ last ? '' : ', ' }}
              <!--TODO display all ingredients cf backend : update api/recipes to get ingredients-->
            </span>
          </dd>
        </dl>
      
        <span>
            <button
              id="jh-create-entity"
              data-cy="entityCreateButton"
              class="btn btn-primary jh-create-entity create-shopping-list"
              (click)="addIngredientToShoppingList()"
              >
              <fa-icon icon="plus"></fa-icon>
              <span> Add ingredients to my shopping list </span>
              <!--TODO create shopping list-->
            </button>
            <jhi-alert></jhi-alert>
      </span>


      </div>

  