<div class="row">

      <div *ngIf="recipe.title !== ''; else infoText">
  
        <dl>
          <dt><span jhiTranslate="recipebookApp.recipe.title">Title</span></dt>
          <dd>
            <span>{{ recipe.title }}</span>
          </dd>
          <dt><span jhiTranslate="recipebookApp.recipe.description">Description</span></dt>
          <dd>
            <span>{{ recipe.description }}</span>
          </dd>
          <dt><span jhiTranslate="recipebookApp.recipe.imagePath">Image Path</span></dt>
          <dd>
            <span>{{ recipe.imagePath }}</span>
          </dd>
          <dt><span jhiTranslate="recipebookApp.recipe.user">User</span></dt>
          <dd>
            <span>{{ recipe.user?.id }}</span>
          </dd>
          <dt><span jhiTranslate="recipebookApp.recipe.ingredient">Ingredient</span></dt>
          <dd>
            <!--<div *ngIf="recipe.ingredient">
              <a [routerLink]="['/ingredient', recipe.ingredient?.id, 'view']">{{ recipe.ingredient?.id }}</a>
            </div>-->
          </dd>
        </dl>

      </div>
      <ng-template #infoText>
        <p>Please select a recipe</p>
    </ng-template>

  </div>
  