<a (click)="onSelectRecipeItem()">
    <span class="list-group-item clearfix ">
        <div class="row">
            <div class="col-md-6">
                <h4 class="list-group-item-heading">{{recipe.title}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
            <span class="col-md-6">
                <img 
                    src="{{recipe.imagePath}}" 
                    alt="{{recipe.title}}" 
                    class="img-responsive" 
                    style="max-height: 50px;"/>
            </span>
        </div>
    </span>
</a>


