<div>
  <jhi-alert></jhi-alert>
      <h2 id="page-heading" data-cy="ShoppingListHeading">
        <span> My shopping List</span>
      </h2>
      <div class="alert alert-info" id="no-result" *ngIf="shoppingDraftLists?.length === 0">
        <span jhiTranslate="recipebookApp.shoppingList.home.notFound">No shoppingLists found</span>
      </div>
    <span *ngIf="shoppingDraftLists && shoppingDraftLists.length > 0">
      <div class="row" *ngFor="let shoppingList of shoppingDraftLists; trackBy: trackId">
        <div class="col-md-8">
              <div class="table-responsive tabl" id="entities" 
                  *ngIf="shoppingList.ingredientOrders && shoppingList.ingredientOrders.length > 0">
                <table class="table table-striped table-hover" aria-describedby="page-heading">
                  <thead>
                    <tr>
                      <th>
                        <span>Ingredients</span>
                      </th>
                      <th>
                        <span>Amount</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ingredientOrder of shoppingList.ingredientOrders">
                      <td>
                          <span>{{ingredientOrder.ingredient?.name}}</span>
                      </td>
                      <td>
                        <span>{{ingredientOrder.amountOrder}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
  
        <div class="col-md-4">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/update-my-shopping-list', shoppingList.id, 'edit']"
              class="btn btn-info btn-sm" data-cy="entityEditButton">
              <span class="d-none d-md-inline" >Update</span>
            </button>
            <button type="submit" class="btn btn-primary btn-sm"
            (click)="order(shoppingList)">
            <span class="d-none d-md-inline" >Order</span>
            </button>
      
            <button type="submit" (click)="delete(shoppingList)"  class="btn btn-danger" data-cy="entityDeleteButton">
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </span>

    <h3 id="page-heading" data-cy="ShoppingListHeading">
        <span> Ordered Shopping Lists</span>
    </h3>

    <div class="alert alert-warning" id="no-result" *ngIf="shoppingOrderedLists?.length === 0">
      <span jhiTranslate="recipebookApp.shoppingList.home.notFound">No shoppingLists found</span>
    </div>
  
    <span *ngIf="shoppingOrderedLists && shoppingOrderedLists.length > 0">
      <span *ngFor="let shoppingList of shoppingOrderedLists; trackBy: trackId">
        <div class="row">
            <div class=col-md-8>
                <div class="table-responsive tabl" id="entities" 
                *ngIf="shoppingList.ingredientOrders && shoppingList.ingredientOrders.length > 0">
              <table class="table table-striped table-hover" aria-describedby="page-heading">
                <thead>
                  <tr>
                    <th>
                      <span>Ingredients</span>
                    </th>
                    <th>
                      <span>Amount</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ingredientOrder of shoppingList.ingredientOrders">
                    <td>
                        <span>{{ingredientOrder.ingredient?.name}}</span>
                    </td>
                    <td>
                      <span>{{ingredientOrder.amountOrder}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class=col-md-4>
            <button type="button" class="btn btn-info btn-sm" (click)="orderAgain(shoppingList)">Order Again</button>
          </div>

        </div>

      </span>

    </span>

  </div>
  