<div>
    <h2 id="page-heading" data-cy="ShoppingListHeading">
      <span jhiTranslate="recipebookApp.shoppingList.home.title">Shopping Lists</span>
    </h2>
    
    <jhi-alert></jhi-alert>
  
    <div class="alert alert-warning" id="no-result" *ngIf="shoppingLists?.length === 0">
      <span jhiTranslate="recipebookApp.shoppingList.home.notFound">No shoppingLists found</span>
    </div>
  
    <div class="table-responsive tabl" id="entities" *ngIf="shoppingLists && shoppingLists.length > 0">
      <table class="table table-striped table-hover" aria-describedby="page-heading">
        <thead>
          <tr>
            <th>
              <span jhiTranslate="recipebookApp.shoppingList.user">User</span>
            </th>
            <th>
                <span>Ingredients</span>
            </th>

            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shoppingList of shoppingLists; trackBy: trackId" data-cy="entityTable">
            <td>
                <span>
                    <span>{{ shoppingList.user?.login }}</span>
                  </span>
            </td>
            <td>
                <span *ngFor="let ingredient of shoppingList.ingredients; let last = last">
                    <span>{{ingredient.name}}</span>{{ last ? "" : ", " }}
                  </span>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/shopping-list', shoppingList.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
  

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  