<div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2
          id="jhi-shopping-list-heading"
          data-cy="ShoppingListCreateUpdateHeading"
        >
          Update my shopping List
        </h2>
  
        <div>
          <jhi-alert-error></jhi-alert-error>
          <div>
            <strong>Status : </strong> {{initialShoppingList.shoppingStatus}} 
          </div>
          <div>
            <button
            type="button"
            class="btn btn-info btn-sm"
            (click)="changeAmount()"
            >
            <span class="d-none d-md-inline">Change amount</span>
            </button>
          </div>

        
        <div class="table-responsive tabl" id="entities" style="margin-top: 20px;"
                *ngIf="initialShoppingList.ingredientOrders && initialShoppingList.ingredientOrders.length > 0">
              <table class="table table-striped table-hover" aria-describedby="page-heading">
                <thead>
                  <tr>
                    <th>
                      <span>Ingredients</span>
                    </th>
                    <th>
                      <span>Amount</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ingredientOrder of initialShoppingList.ingredientOrders">
                    <td>
                        <span>{{ingredientOrder.ingredient?.name}}</span>
                    </td>
                    <td>
                      <span *ngIf="!isAmountOnChange">{{ingredientOrder.amountOrder}}</span>
                      <span *ngIf="isAmountOnChange">
                        <input
                        [(ngModel)] = ingredientOrder.amountOrder
                        [ngModelOptions]="{standalone: true}"
                        type="number"
                        class="form-control"
                      />
                      </span>
                    </td>

                  </tr>
                </tbody>
              </table>
        </div>
        <button id="modify-ingredient" type="button" class="btn btn-info" (click)="onClickIngredientAddOrRemove()">Add ingredients</button>
      
        <!-- <span *ngIf="isIngredientAddOrRemoveClicked">
            <div class="form-group" style="margin-top: 20px;">
                <label jhiTranslate="recipebookApp.shoppingList.ingredient" for="field_ingredients">Ingredient</label>
                <select
                  class="form-control"
                  id="field_ingredients"
                  data-cy="ingredientOrder"
                  multiple
                  name="ingredientOrders"
                  formControlName="ingredientOrders"
                >
                  <option
                    [ngValue]="getSelectedIngredient(ingredientOption, editForm.get('ingredientOrders')!.value)"
                    *ngFor="let ingredientOption of ingredientsSharedCollection; trackBy: trackIngredientById"
                  >
                    {{ ingredientOption.name }}
                  </option>
                </select>
              </div>
            
        </span> -->
    </div>
  
        <div style="margin-top: 20px;">
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>
  
          <button
            type="button"
            id="save-entity"
            class="btn btn-primary"
            (click)="save()"
          >
          <span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  